*{
    margin: 0;
    padding: 0;
}
.left {
    padding: 15px;
    width: 55%;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left ul {
    list-style-type: none;
}
.left nav li {
    margin-bottom: 10px;
}